.burbuja{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:#fff;
    opacity: .3;

    position: absolute;
    bottom:-1000%;
    left: 10%;
    animation: burbujas 3s linear infinite ;
}



.burbuja:nth-child(2){
    width: 50px;
    height: 50px;
    left: 15%;
    animation-duration: 2s;
    animation-delay: 5s;

}
.burbuja:nth-child(3){
    width: 30px;
    height: 30px;
    left: 25%;
    animation-duration: 3s;
    animation-delay: 3s;


}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 8s;


}

.burbuja:nth-child(5){
    width: 20px;
    height: 20px;
    left: 45%;
    animation-duration: 3s;
    animation-delay: 1s;


}

.burbuja:nth-child(6){
    width: 15px;
    height: 15px;
    left: 55%;
    animation-duration: 3s;
    animation-delay: 3s;


}

.burbuja:nth-child(7){
    width: 50px;
    height: 50px;
    left: 65%;
    animation-duration: 4s;
    animation-delay: 8s;


}

.burbuja:nth-child(8){
    width: 20px;
    height: 20px;
    left: 75%;
    animation-duration: 3s;
    animation-delay: 1s;


}

.burbuja:nth-child(9){
    width: 30px;
    height: 30px;
    left: 85%;
    animation-duration: 3s;
    animation-delay: 5s;


}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity:0;
    }
    30%{
        background-color: rgba(156, 152, 152, 0.705);
        transform:translateX(15px)

    }
    50%{
        opacity: .4;    
    }
    70%{
        transform:translateX(-15px)
    }
    100%{
        bottom: 100vh;
        opacity:0;
    }
    
}

.name_info{
    animation: movimientoName 5s linear infinite;
}

@keyframes movimientoName{
    0%{
        transform:translateX(0)
    }
    50%{
        transform:translateX(-50px)
    }
    100%{
        transform:translateX(0)
    }
}


/*  */


