.experience{
    background-color: transparent;
    margin-bottom:40px;
    
}
.experience h1{
    color:#00c2ff;
}

.experienceTitle{
    background-color: #1818189a;
    display:flex;
    justify-content:center;
    margin-bottom: 20px ;
    padding:10px;
    color: #00c2ff;
    box-shadow: 0px 5px 5px 0px #c1358436 ;
    
}
.cardsExperience{
    background-color:181818;
    display:flex;   
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.cardsExperience .card{
    width: 500px;
    margin:10px;
    border-top: 1px solid #c13584;
    background-color: #222222;
    box-shadow: 5px 8px 10px 0px rgb(136 255 8 / 10%);
}
.cardsExperience .card a{
    text-decoration:none;
    color:#00c2ff;
    position: absolute;
    top:10px;
    left: 10px;
}

.icons-experience{
    padding: 25px;
    font-size: 2em;
    color:#ffffff;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    gap: 20px;
}


/* tooltip */

.content-icon{
    position: relative;
    font-weight: normal;
}
.content-icon:hover{
    text-decoration: underline;

}
.content-icon:hover .tooltip-box{
    display: inline-block;
    
}

.tooltip-box{
    background-color: #902763;
    line-height: 20px;
    z-index:500px;
    text-align:center;
    color:#00c2ff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius:5px;
    position: absolute;
    left:0;
    bottom: 40px;
    display: none;
}

.tooltip-box::after{
    content: "";
    display: block;
    border-top: 7px solid #902763;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left:13px;

}


/* end tooltip */